.bgBrown {
    background-color:#ba8563;
}
.bgGray {
    background-color:#e9e4d5;
}
.bgGreen {
    background-color:#e4dcab;
}
.bgTan {
    background-color:#deb976;
}
.bgDkBlue {
    background-color:#454c5f;
}
.bgLtBlue {
    background-color:#678a9d;
}
.bgMaroon {
    background-color:#9f4638;
}
.bgPurple {
    background-color:#896f72;
}
body {
    background-color:#e9e4d5; /* gray */
    /*padding-top:70px;*/
    /*padding: 60px 0px 0px 0px*/
    /*background-image:url('/Content/Om.svg');
    background-size:60px;*/
}
.myFont {
    font-family: 'MV Boli', Helvetica, Arial, sans-serif;
    font-size:14pt;
}
.brandFont {
    font-family: 'MV Boli', Helvetica, Arial, sans-serif;
    /*font-weight:bold;*/
    font-size: 2em;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e9e4d5;
 }
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #e4dcab;
 }
.table-scrollable{
    overflow: auto;
}
td.timeOfDay {
    text-align : right;
}
.divBdr {
    border:1px solid;
    border-radius:4px;
    border-color:#ba8563;
    padding:4px;
    /*margin-bottom:4px;*/
    /*margin-right:4px;*/
}
.divRtBdr {
    border-right:1px solid;
    border-radius:4px;
    /*border-color:white;*/
}
.myTitle {
    color : #9f4638;
    font-weight:bold;
    font-size: 14pt;
    /*text-align:center;*/
    padding-left:4px;
}
.myListHeader {
  padding-left:4px;
}
.whiteText {
    color:white;
}
/*.blackText {
    color:black;
}*/
/*$clrBrown = '#ba8563';*/


/*.my-fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}*/
.bumpBoot {
    padding: 60px 0px;
}
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 5px;
    padding-right: 5px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

label {
  font-size: 9pt;
}
select {
    padding: 3px;
    margin: 3px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #9f4638;
    color:#ffffff;
    border:none;
    outline:none;
}
/*input {
    color:white;
}*/

/*.cw-table-list {
    margin:0px !important;
    table-layout:fixed;  
}
.cw-table-list td {
    padding-bottom: 0px !important;  
    overflow:hidden;
}*/
.navbar-custom {
	background-color:#9f4638;
    color:#ffffff;
  	border-radius:4px;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #9f4638;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ba8563;
}
      
.navbar-custom .navbar-brand {
  	color:#deb976;
}
.navbar-custom .navbar-toggle {
  	background-color:#deb976;
}
.navbar-custom .icon-bar {
  	background-color:#9f4638;
}


/* Responsive iFrame for Google Calendar/Maps */
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
#map {
    display: block;
    width: 100%;
    height: 420px;
}
.sameHeight {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#equalheight {
    overflow: hidden; 
}
