@{
    ViewBag.Title = "Events";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12 bgTan divBdr">
            <p class="myListHeader">
                There are too many yoga events for us to keep up with here at AVL Zen.
                We encourage you to follow the links to the individual studios to see full details on what's offered in town!
            </p>
            <p class="myListHeader">
                Here we try to track the sort of events we feel fit into the general spirit of things.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bgTan divBdr responsive-iframe-container">
            <!--<div class=" eventsCalendar">-->
            <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23deb976&amp;src=krnr5koe20mc5gvfjigpchku00%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="500" height="400" frameborder="0" scrolling="no"></iframe>
            <!--</div>-->
        </div>
    </div>
</div>