@{
    ViewBag.Title = "Events";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 bgTan divBdr responsive-iframe-container">
            <p class="myListHeader">For questions, suggestions and corrections regarding the AVL Zen site:</p>
            @*<div class="responsive-iframe-container">*@
                <iframe src="https://www.google.com/calendar/embed?showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%239f4638&amp;src=krnr5koe20mc5gvfjigpchku00%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="500" height="400" frameborder="0" scrolling="no"></iframe>
            @*</div>*@
        </div>
    </div>
</div>
